name: Build
run-name: ${{ github.actor }} - ${{ github.workflow }} - ${{ github.ref_name }}
on: 
  push:
    branches: 
    - main
  pull_request:
    branches: 
    - main
  workflow_dispatch:

jobs:
    ReleaseTbx:
        runs-on: ubuntu-24.04
        continue-on-error: true
        steps:
        - uses: actions/checkout@v6
          name: Clone self
          with:
            path: ${{ github.workspace }}/build
        - uses: actions/checkout@v6
          name: Clone chebfun
          with:
            path: ${{ github.workspace }}/chebfun
            repository: chebfun/chebfun
        - name: Set up MATLAB
          uses: matlab-actions/setup-matlab@v2
        - name: Package toolbox
          uses: matlab-actions/run-command@v2
          with:
            command: addpath('${{ github.workspace }}/build'); package("chebfun","${{ github.workspace }}/chebfun");
        - uses: actions/upload-artifact@v4
          name: Upload chebfun.mltbx
          with:
            name: chebfun.mltbx
            path: ${{ github.workspace }}/build/chebfun.mltbx
        
        


