name: Build
run-name: ${{ github.actor }} - ${{ github.workflow }} - ${{ github.ref_name }}
on: 
  push:
    branches: 
    - main
  pull_request:
    branches: 
    - main
  workflow_dispatch:

jobs:
    Build:
        runs-on: ubuntu-24.04
        continue-on-error: true
        steps:
        -   uses: actions/checkout@v6
            name: Clone self
            with:
                path: ${{ github.workspace }}/build
        -   uses: actions/checkout@v6
            name: Clone chebfun
            with:
                path: ${{ github.workspace }}/chebfun
                repository: chebfun/chebfun
        -   name: Bump version and push tag
            if: github.ref_name == 'main'
            id: tag_version
            uses: hennejg/github-tag-action@v4.1.jh1
            with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
        -   name: Set Tag Output
            if: github.ref_name == 'main'
            id: set_tag_output
            run: echo "::set-output name=new_tag::${{ steps.tag_version.outputs.new_tag }}"
        -   name: Set up MATLAB
            uses: matlab-actions/setup-matlab@v2
        -   name: Package toolbox
            uses: matlab-actions/run-command@v2
            with:
                command: addpath('${{ github.workspace }}/build'); package("chebfun","${{ github.workspace }}/chebfun", "${{ steps.tag_version.outputs.new_tag }}");
        -   uses: actions/upload-artifact@v4
            name: Upload chebfun.mltbx
            with:
                name: chebfun.mltbx
                path: ${{ github.workspace }}/build/chebfun.mltbx
    Release:
        needs: Build
        runs-on: ubuntu-latest
        if: github.ref_name == 'main'
        steps:
        -   uses: actions/download-artifact@v4
            name: Download chebfun.mltbx
            with:
                path: ${{ github.workspace }}
        -   name: Create Release
            id: create_release
            uses: actions/create-release@latest
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            with:
                tag_name: ${{ needs.Build.outputs.new_tag }}
                release_name: Release ${{ needs.Build.outputs.new_tag }}
                draft: false
                prerelease: false
        -   name: Release
            uses: softprops/action-gh-release@v2
            with:
                files: ${{ github.workspace }}/chebfun.mltbx
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


