on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*'
  workflow_dispatch:
    
name: Upload Release Asset

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      name: Download chebfun.mltbx
      with:
        path: ${{ github.workspace }}
    - name: Create Release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: ${{ github.workspace }}/chebfun.mltbx